.container {
  color: #333;
  padding: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  overflow-y: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.subContainer {
  display: grid;
  /* scrollable row of grid */
  grid-auto-flow: column;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}
.subContainer::-webkit-scrollbar {
  display: none;
}
.subtitle {
  font-size: 18px; /* Reduced size */
  opacity: 50%;
  height: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  font-size: 28px; /* Reduced size */
  margin-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 720px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.projectContainer:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.02);
}

/* Image slider */
.imageSlider {
  position: relative;
}

.flowerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Navigation buttons */
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Reduced size */
  transition: all 0.3s ease;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
  /* enlarge */
  transform: translateY(-50%) scale(1.1);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

/* Dots container */
.dotsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dot {
  height: 10px; /* Reduced size */
  width: 10px; /* Reduced size */
  margin: 0 5px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.activeDot {
  background-color: #333;
}

/* Project Text */
.projectTitle {
  font-size: 20px; /* Reduced size */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.projectDescription {
  font-size: 14px; /* Reduced size */
  margin-bottom: 20px;
  text-align: justify;
  line-height: 18px;;
}

.projectTechnologies {
  font-size: 14px; /* Reduced size */
  font-style: italic;
  margin-bottom: 20px;
  line-height: 18px;
}

.projectLink {
  /* remove all decoration */
  text-decoration: none;
  color: #333;
  font-weight: bolder;
}

.projectButton {
  background-color: #333;
  color: white;
  padding: 8px 16px; /* Adjust padding for smaller button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* align at bottom */
  margin-top: auto;
}

.projectButton:hover {
  background-color: #555;
}
